services:
  postgres:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - 127.0.0.1:5432:5432
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DATABASE}
    restart: unless-stopped
    networks:
      - app_network


  api:
    image: api
    build: .
    ports:
      - 127.0.0.1:8000:8000
    environment:
     - DATABASE_URL=${DATABASE_URL}
     - PREAUTH_TOKEN_EXPIRE=${PREAUTH_TOKEN_EXPIRE}
     - JWT_SECRET_KEY=${JWT_SECRET_KEY}
     - ALGORITHM=${ALGORITHM}
     - JWT_TOKEN_EXPIRE=${JWT_TOKEN_EXPIRE}
     - RECAPTCHA_SECRET_KEY=${RECAPTCHA_SECRET_KEY}
     - RECAPTCHAV2_SECRET_KEY=${RECAPTCHAV2_SECRET_KEY}
     - CSRF_HMAC_SECRET=${CSRF_HMAC_SECRET}
     - DATABASE_URL_ALEMBIC=${DATABASE_URL_ALEMBIC}
    depends_on:
     - postgres
    restart: unless-stopped
    networks:
      - app_network


  redis:
    image: redis:8.2
    ports:
      - 127.0.0.1:6379:6379
    networks:
      - app_network
    
  grafana:
    image: grafana/grafana:latest
    ports:
      - 127.0.0.1:3000:3000
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD_ADMIN}
    volumes:
      - grafana_data:/var/lib/grafana
    restart: unless-stopped
    networks:
      - monitoring
 

  loki:
    image: grafana/loki:2.9.0
    networks:
      - monitoring
    
  promtail:
    image: grafana/promtail:2.9.0
    volumes:
      - /var/log/nginx:/var/log/nginx
      - ./promtail-config.yaml:/etc/promtail/config.yaml
    command: -config.file=/etc/promtail/config.yaml
    depends_on: 
      - loki
    networks:
      - monitoring

volumes:
  postgres_data:
  grafana_data:

networks:
  monitoring:
  app_network: